.contactDetails {
  display: flex;
  justify-content: center;
}
.contact {
  text-align: center;
  margin: 3rem 0;
}
.mail,
.telephone {
  margin-right: 0.5rem;
}
.contactDetailsEmail,
.contactDetailsNumber {
  width: 280px;
  height: 70px;
  border-radius: 15px;
  background-color: #23ce6b;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  margin-bottom: 3rem;
}
.contactDetailsNumber {
  margin-left: 2rem;
}
.contactDetailsEmail {
  margin-left: 27px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.contactDetailHeading {
  text-align: center;
  margin: 3rem 0;
}
.contactDetailsNumber:hover {
  background-color: orangered;
  color: #000000;
}
.contactDetailsEmail:hover {
  background-color: orangered;
  color: #000000;
}
@media screen and (max-width: 700px) {
  .contactDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
