.footerWrapper {
  background-color: rgba(58, 58, 58, 0.3);
  height: 80px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.footerFirstLetter,
.footerLastLetter {
  color: orangered;
}
.links {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}
.facebook {
  color: #1877f2;
}
.instagram {
  color: #f60e4b;
}
.linkedIn {
  color: #0077b5;
}
.gitHub {
  color: #ffffff;
}
@media screen and (max-width: 700px) {
  .footerWrapper {
    display: flex;
    flex-direction: column;
    height: 110px;
  }
}
